@import url("http://fast.fonts.net/t/1.css?apiType=css&projectid=ce345e45-52ac-4127-b988-c9564af71694");
@font-face{
font-family:"HelveticaNeueW01-45Ligh";
src:url("../font/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix");
src:url("../font/ae1656aa-5f8f-4905-aed0-93e667bd6e4a.eot?#iefix") format("eot"),url("../font/530dee22-e3c1-4e9f-bf62-c31d510d9656.woff") format("woff"),url("../font/688ab72b-4deb-4e15-a088-89166978d469.ttf") format("truetype"),url("../font/7816f72f-f47e-4715-8cd7-960e3723846a.svg#7816f72f-f47e-4715-8cd7-960e3723846a") format("svg");
}
@font-face{
font-family:"HelveticaNeueW01-55Roma";
src:url("../font/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix");
src:url("../font/b7693a83-b861-4aa6-85e0-9ecf676bc4d6.eot?#iefix") format("eot"),url("../font/bcf54343-d033-41ee-bbd7-2b77df3fe7ba.woff") format("woff"),url("../font/b0ffdcf0-26da-47fd-8485-20e4a40d4b7d.ttf") format("truetype"),url("../font/da09f1f1-062a-45af-86e1-2bbdb3dd94f9.svg#da09f1f1-062a-45af-86e1-2bbdb3dd94f9") format("svg");
}
body {
  color:#666666;
  font-family: 'HelveticaNeueW01-55Roma', Helvetica, arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  font-family: 'Lato', arial, sans-serif;
  text-transform:lowercase;
}

h1 {
  font-size: 26px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

h5 {
 font-size: 18px;
color: #888;
}

h6 {
  font-size: 13px;
  text-decoration: underline;
}

h1{
  margin: 0;
  line-height: 1.5em;
  margin-bottom:.6em;
}
 h2, h3, h4, h5, h6 {
  margin: 0;
  line-height: 1.5em;
  margin-bottom:.4em;
}

p {
  font-size: 13px;
  margin-top:0px;
  margin-bottom: 1.5em;
  line-height: 1.6em;
}

a {
    color:#8685be;
    text-decoration:none;
}

a:visited {

}

a:hover {
    text-decoration:underline;
}

a.noborder, a.noborder:hover {
  border: none;
  background-color: transparent;
}
a p {
color:#666666;
}
i {
  font-weight: normal;
  font-style: italic;
}

em {
    font-weight:normal;
    font-style:italic;

}

b, strong {
  font-weight: bold;
}

.highlight {
  background-color: #4c5b18;
  color: #fff;
  font-weight: normal;
}

.enhanced {
  font-size: 15px;
  line-height: 1.5em;
}

.smallprint {
  font-size: 11px;
}

.JustifyCenter {
  text-align: left;
}
.JustifyCenter {
  text-align: center;
}
.JustifyRight {
  text-align: right;
}
.JustifyFull {
  text-align: justify;
}
.Indent1 {
  text-indent: 1em;
}
.Indent2 {
  text-indent: 2em;
}
.Indent3 {
  text-indent: 3em;
}

/* inline quote */
q {
  font-style: italic;
}

ul { list-style-type: disc;}
ul ul { list-style-type: circle;}
ul ul ul { list-style-type: square; }
ul ul ul ul { list-style-type: disc; }

ol { list-style-type: decimal;}
ol ol { list-style-type: upper-alpha;}
ol ol ol { list-style-type: lower-roman; }
ol ol ol ol { list-style-type: decimal; }

  /*#body .col-2 ul li {
    list-style-type: none;
    background: transparent url(/images/arrow-li.gif) no-repeat 0 50%;
    padding-left: 10px;
  }

  #body .col-2 ul li li {
    list-style-type: circle;
    background: none;
    padding-left: 0;
  }*/


/* --------------------------------------------------------------

   forms.css
   * Sets up some default styling for forms
   * Gives you classes to enhance your forms

   Usage:
   * For text fields, use class .title or .text

-------------------------------------------------------------- */

label       { font-weight: normal; margin-bottom: 0; padding: 0; }
fieldset    { padding:1.4em; margin: 0 0 1.5em 0; border: 1px solid #ccc; }
legend      { font-weight: bold; font-size:1.2em; }


/* Form fields
-------------------------------------------------------------- */

input[type=text],
input.text, input.title,
textarea, select {
  background-color:#fff;
  border:1px solid #bbb;
}
input[type=text]:focus,
input.text:focus, input.title:focus,
textarea:focus, select:focus {
  border-color:#666;
}

input[type=text],
input.text, input.title,
textarea, select {
  margin:0;
}

input.text,
input.title   { width: 300px; padding:3px; }
input.title   { font-size:1.5em; }
textarea      { width: 320px; height: 150px; padding:5px; }

input[type=checkbox], input[type=radio],
input.checkbox, input.radio {
  position:relative; top:0;
}

form.inline { line-height:3; }
form.inline p { margin-bottom:0; }


/* Success, notice and error boxes
-------------------------------------------------------------- */

.error,
.notice,
.success    { padding: .8em; margin-bottom: 1em; border: 2px solid #ddd; }

.error      { background: #FBE3E4; color: #8a1f11; border-color: #FBC2C4; }
.notice     { background: #FFF6BF; color: #514721; border-color: #FFD324; }
.success    { background: #E6EFC2; color: #264409; border-color: #C6D880; }
.error a    { color: #8a1f11; }
.notice a   { color: #514721; }
.success a  { color: #264409; }

