.cta {
  background: #EBE9E9;

  border-radius:  5px;
  padding: 3em;

}

.cta a {
  color: #7776B5;
}


.event-logo {

    margin-bottom: 2em !important;
    float: none !important;
}









.row, .blocks-3, .category-list, .blocks-4, .blocks-6 {
  position: relative;
  display: block; }
  .row > [class^="column"], .row > li, .blocks-3 > [class^="column"], .category-list > [class^="column"], .blocks-4 > [class^="column"], .blocks-6 > [class^="column"], .blocks-3 > li, .category-list > li, .blocks-4 > li, .blocks-6 > li {
    float: left;
    display: block; }
    .row > [class^="column"]:after, .row > li:after, .blocks-3 > [class^="column"]:after, .category-list > [class^="column"]:after, .blocks-4 > [class^="column"]:after, .blocks-6 > [class^="column"]:after, .blocks-3 > li:after, .category-list > li:after, .blocks-4 > li:after, .blocks-6 > li:after {
      display: block;
      content: ".";
      height: 0;
      clear: both;
      visibility: hidden; }
  .row:after, .blocks-3:after, .category-list:after, .blocks-4:after, .blocks-6:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }

.blocks-3, .category-list {
  list-style-type: none;
  padding: 0;
  overflow: hidden; }
  .blocks-3 > li, .category-list > li {
    width: 33.33333%; }
    @media only screen and (max-width: 900px) {
      .blocks-3 > li, .category-list > li {
        width: 50%; } }
    @media only screen and (max-width: 400px) {
      .blocks-3 > li, .category-list > li {
        width: 100%; } }
  .blocks-3 > li:nth-last-child(-n+3), .category-list > li:nth-last-child(-n+3) {
    margin-bottom: 0; }

.blocks-4 {
  list-style-type: none;
  padding: 0;
  overflow: hidden; }
  .blocks-4 > li {
    width: 25%; }
    @media only screen and (max-width: 900px) {
      .blocks-4 > li {
        width: 50%; } }
    @media only screen and (max-width: 400px) {
      .blocks-4 > li {
        width: 100%; } }

.blocks-6 {
  list-style-type: none;
  padding: 0;
  overflow: hidden; }
  .blocks-6 > li {
    width: 16.66667%; }
    @media only screen and (max-width: 900px) {
      .blocks-6 > li {
        width: 50%; } }
    @media only screen and (max-width: 400px) {
      .blocks-6 > li {
        width: 100%; } }
  .blocks-6 > li:nth-last-child(-n+6) {
    margin-bottom: 0; }

.columns-1, .column-1 {
  width: 8.33333%; }

.columns-2, .column-2 {
  width: 16.66667%; }

.columns-3, .column-3 {
  width: 25%; }

.columns-4, .column-4 {
  width: 33.33333%; }

.columns-5, .column-5 {
  width: 41.66667%; }

.columns-6, .column-6 {
  width: 50%; }

.columns-7, .column-7 {
  width: 58.33333%; }

.columns-8, .column-8 {
  width: 66.66667%; }

.columns-9, .column-9 {
  width: 75%; }

.columns-10, .column-10 {
  width: 83.33333%; }

.columns-11, .column-11 {
  width: 91.66667%; }

.columns-offset-1 {
  margin-left: 8.33333%; }

.columns-offset-2 {
  margin-left: 16.66667%; }

.columns-offset-3 {
  margin-left: 25%; }

.columns-offset-4 {
  margin-left: 33.33333%; }